<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>

<label>
  Content
  <input type="text" [(ngModel)]="content">
</label>
<label>
  Disabled
  <input type="checkbox" [(ngModel)]="disabled">
</label>



<cb-select [options]="options" [(ngModel)]="content" (ngModelChange)="emit('change', $event)" [disabled]="disabled" required>
</cb-select>


<div *ngFor="let log of logs">
  {{ log.msg }} {{ log.event | json }}
</div>

<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>
<p>line</p>