:host {
  display: block;
}

button {
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 100px;
  padding: 10px;

  &:disabled {
    cursor: default;
    background-color: lightgray;
    border-color: gray;
    color: gray;
  }

  &:focus-visible {
    border-style: dashed;
    border-width: 2px;
    margin: -1px;
  }

  &:not(:disabled):hover {
    border-width: 2px;
    margin: -1px;
  }
}